
.right-dashboard{
  width: 100%;
}

.div-search{
  display: flex;
  height: 15%;
  text-align: center;
  align-items: center;
  
}
.div-central{
  display: flex;
  flex-direction: column;
  height: 25%;
  text-align: center;
  align-items: center;
  text-align: left;
}
#family-code-h{
  width: 50%;
  justify-content: start;
  text-align: start;
  padding: 16px;
  font-family: my-poppins;
  color: var(--dark-green-color);
}

#family-code{
  width: 50%;
  background-color: var(--pink-color);
  border-radius: 10px;
  height: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: my-poppins;
  color: var(--dark-green-color);
}

.right-dashboard{
  height: 100%;
}
.div-botton{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: my-poppins;
  flex-direction: column;
  width: 90%;
  height: 50%;
  text-align: right;
}
div{
  text-align: center;
  padding: 10px;
}
h6{
  font-size: 20px;
  padding: 2px;
}

h5{
  margin: 10px;
}
.div-headers{
  display: flex;
}

.left-dashboard{
  width: 260px;
}
.dashboard{
  display: flex;
  height: 100%;
  background: linear-gradient(#ffffe6da, #e09d8533);
}

.btn-success{
  margin: 0px 10px;
}
