<div>
    <span class="totals">
        <div>5523</div>
        <div>4755</div>
        <div>15478</div>
    </span>
</div>

<div class="div-center">
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Revisar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>otto@.example.com</td>
            <td>
                <span class="revisar">
                    <button class="btn btn-primary" type="button">Revisar</button> 
                </span>
                <span class="eliminar">
                    <button class="btn btn-primary" type="button">X</button>
                </span>
            </td>
          </tr>
          <tr>
            
            <td>Jacob</td>
            <td>Thornton</td>
            <td>jacob@domin.com</td>
            <td>
                <span class="revisar">
                    <button class="btn btn-primary" type="button">Revisar</button> 
                </span>
                <span class="eliminar">
                    <button class="btn btn-primary" type="button">X</button>
                </span>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
