
.revisar .btn-primary{
    font-family: my-poppins;
    background-color: var(--light-green-color);
    height: 35px;
    border:none;
}

.eliminar .btn-primary{
    margin-left: 16px;
    font-family: my-poppins;
    background-color: rgb(237, 87, 87);
    height: 35px;
    border-radius: 50%;
    border:none;
}


.table{
    font-family: my-poppins;
}

tr{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

td{
}