    <div class="btn-menu">
        <label 
            class="icon-label"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling">
            <img class="menu" src="../../../assets/img/menu.png" alt="menu"/>
        </label>
    </div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="div-wrapper-menu">
        <div class="div-menu">
            <nav>
                <a href="">Perfil</a>
                <a href="">Usuarios</a>
                <a href="">Transacciones</a>
                <a href="">Egresos</a>
                <a href="">Ingresos</a>
                <a href="">Registrar Transaccion</a>
            </nav>
            
        </div>
        <div class="div-logout">
            <a href="">Salir</a>
        </div>
    </div>
    
</div>