.container-login-home-registrar{
    /*background-color: var(--light-green-color);*/
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 20px 100px;
}

a{
    font-family: my-poppins;
    text-decoration: none;
    margin: 15px;
    margin-right: 15px;
    padding-left: 25px;
    text-align: center;
    color: var(--dark-green-color);
}

a:hover{
    color: var(--light-green-color);
}

h1{
    color: var(--dark-green-color);
    margin: 10px;
    padding: 10px;
    font-family: my-poppins;
}

