<div class="split-screem">
    <div class="left" >
        <img src="../../../assets/img/main.jpg" alt="main">
    </div>
    <div class="right">
        <div class="container-login-home-registrar">
            <nav>
                <a routerLink="/home" >Home</a>
                <a routerLink="/login">Iniciar sesión</a>
                <a routerLink="/signIn">Registrar</a>
            </nav>
        </div>
        <div class="right" >
            <div class="div-p">
                <h1>Familiar Budget</h1>
                <p>
                    There are many variations of passages of Lorem Ipsum available, <br>
                    but the majority have suffered alteration in some form, <br>
                    by injected humour, or randomised
                </p>
            </div>
        </div>
    </div>
</div>
