<app-header></app-header>
<div class="div-img">
    <section class="texts-header">
        <div class="contenido-textos">
            <h1>Familiar Budget</h1>
            <h3>Registra tus gastos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                velit doloribus laboriosam ut.</p>
            <h3>Mantente informado sobre los gastos de tu familia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                velit doloribus laboriosam ut.</p>
        </div>
    </section>
</div>

