.div-img {
    width: 100%;
    height: 600px;
    background: #f1d7ea;
    background: linear-gradient(#f8f8f3be, #e09d8557),url(../../../assets/img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}
.texts-header{
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 80vh;
    text-align: center;
    font-family: my-poppins;
}

h1{
    padding: 10px;
    color: var(--dark-green-color);
}

h3{
    padding: 16px;
    color: var(--dark-green-color);
}
