<div class="split-screem">
    <div class="left" >
        <img src="../../../assets/img/main.jpg" alt="main">
    </div>
    <div class="right">
        <app-header></app-header>
        <div class="right-2">
        <div class="header-1">
            <h1>Familiar Budget</h1>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="firstName" [(ngModel)]="user[0]" placeholder="Nombre">
            <span *ngIf="this.fieldsMssg[0]" style="color: rgb(252, 83, 83); font-size: 15px;">*<b>Nombre</b> no debe estar vacio</span>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="lastName" [(ngModel)]="user[1]" placeholder="Apellido">
            <span *ngIf="this.fieldsMssg[1]" style="color: rgb(252, 83, 83); font-size: 15px;">*<b>Apellido</b> no debe estar vacio</span>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="user[2]" placeholder="name@example.com">
            <span *ngIf="this.fieldsMssg[2]" style="color: rgb(252, 83, 83); font-size: 15px;">*<b>Email</b> no debe estar vacio</span>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="user[3]" placeholder="Password">
            <span *ngIf="this.fieldsMssg[3]" style="color: rgb(252, 83, 83); font-size: 15px;">*<b>Password</b> no debe estar vacio</span>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="user[4]" placeholder="Repita su password">
        </div>
        <div class="div-rf">
            <select class="form-select" id="floatingSelect" [(ngModel)]="user[5]" aria-label="Floating label select example">
              <option selected >Seleccione su Rol</option>
              <option value="1">Administrador</option>
              <option value="2">Regular</option>
            </select>
            <input type="text" class="form-control" id="familyCode" [(ngModel)]="user[6]" placeholder="Codigo de familia">

        </div>
        <div class="alert alert-danger" role="alert" *ngIf="this.flagRequired"> <b>Atención</b> {{this.errorMessage}}</div>
        <div class="mb-3">
            <button class="btn btn-success" (click)="createUser()" type="button">Registrarse</button>
        </div>
        <p class="label-1">Volver a <a routerLink="/login">Login</a></p>
    </div>
    </div>
</div>
