<div class="split-screem">
    <div class="left" >
        <img src="../../../assets/img/main.jpg" alt="main">
    </div>
    <div class="right">
        <div class="container-login-home-registrar">
            <nav>
                <a routerLink="/home" >Home</a>
                <a routerLink="/login">Iniciar sesión</a>
                <a routerLink="/signIn">Registrar</a>
            </nav>
        </div>
        <div class="right">
        <div class="header-1">
            <h1>Familiar Budget</h1>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="firstName" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="lastName" placeholder="Apellido">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Repita su password">
        </div>
        <div class="div-rf">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Seleccione su Rol</option>
              <option value="1">Administrador</option>
              <option value="2">Regular</option>
            </select>
            <input type="text" class="form-control" id="familyCode" placeholder="Codigo de familia">
        </div>          
        <div class="mb-3">
            <button class="btn btn-primary" type="button">Registrarse</button>
        </div>
        <p class="label-1">Volver a <a routerLink="/login">Login</a></p>
    </div>
    </div>
</div>
