<div class="split-screem">
    <div class="left" >
        <img src="../../../assets/img/main.jpg" alt="main">
    </div>
    
    <div class="right">

        <app-header></app-header>
        <div class="right-2">
            <div class="header-1">
                <h1>Familiar Budget</h1>
            </div>
            
            <div class="mb-3">
                <input type="email" class="form-control" [(ngModel)]="email" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" [(ngModel)]="password" id="floatingPassword" placeholder="Password">
            </div>
            <div class="mb-3">
                <button class="btn btn-success" (click)="login()" type="button">Iniciar Sesión</button>
            </div>
            <p class="label-1">¿No tienes cuenta? <a routerLink="/signIn">Registrar</a></p>
        </div>
    </div>
</div>